body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:76px;
  top:43px;
  width:236px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:76px;
  top:112px;
  width:654px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:56px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:76px;
  top:170px;
  width:672px;
  height:410px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:410px;
}
#u5 {
  position:absolute;
  left:2px;
  top:197px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:680px;
  top:49px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
