@charset "UTF-8";
/* CSS Document */


body{
	height:100%;
	width:100%;
}

#u0_img {
position:absolute;
  left:35%;
  top:50px;
  width:492px;
  height:265px;
}


#h1_title {
	position: absolute;
	top: 315px;
	left:35%;
	width:500px;
	height:auto;
}

#detail_desc {
	position:absolute;
	left:35%;
	top:400px;
	width:492px;
	height:auto;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: orange;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

#btn_div {
	position:absolute;
	margin-left:35%;
	top:500px;
	
}

#btn_div a{
	margin-left:170px;
}




#info_dev {
	position: absolute;
	height: auto;
	width: 70%;
	left: 25%;
	top: 540px;
	bottom: 10%;
}



#infro_proj {
	position:absolute;
	height:auto;
	left:47%;
	top:540px;
	bottom:10%;
}

#info_data {
	position: absolute;
	height: auto;
	left: 76%;
	top: 540px;
	bottom: 10%;
}

#bd_container {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bgimg {
	margin-left:45px;
	max-height:100%;
	max-width:100%;

}





